.Basado {
    font-size: 24px;
    color: var(--Gris-oscuro);
}

.seccion-visita, .seccion-ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.electrodomesticos {
    margin: 10px;
}

main img {
    max-width: 100%;
    height: auto;

}

.caja-descripcion {
    background-color: white;
    border: solid 1px var(--Gris-claro);
    padding: 15px;
    position: relative;
}

.logo-envio {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--Verde);
    transition: transform 0.3s ease;
}

.logo-envio:hover{
    transform: rotate(-90deg);
}

.caja-precio-descuento{
    display: flex;
    align-items: center;
}

.precio {
    font-size: 18px;
    width: 30%;

}

.descuento {
    color: var(--Verde);
    font-size: 16px;
    width: 70%;
}

.descripcion {
    font-size: 16px;
    display: none;
}

@media (min-width: 768px) {
    .electrodomesticos {
        width: 45%;
        transition: all 0.5s ease;
    }

    .electrodomesticos:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion {
        display: block;
    }

}

@media (min-width: 1024px) {
    .electrodomesticos {
        width: 22%;
    }
    .descuento{
        padding-left: 30px;
    }

}
