* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--Gris-claro);
}

header {
    background-color: var(--Amarillo);
}

.barra-superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.logo-barra-busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 50%;
}

.barra-busqueda{
    width: 50%;
    display: flex;
}

.Compra {
    text-align: center;
    font-weight: 400;
}

.barra-inferior{
    display: none;
}

.barra-inferior ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.barra-inferior li{
    display: flex;
    list-style-type: none;
    padding: 5px;
    font-size: 14px;
    margin: 0px 5px;
}

.barra-inferior a{
    color: black;
    text-decoration: none;
}

.burger-menu {
    text-align: center;
    color: white;
    background-color: var(--Celeste);
    margin: 2% 46%;
    border-radius: 5px;
    padding: 8px;
}

.banner {
    max-width: 100%;
}

.banner img {
    max-width: 100%;
}

main {
    background-color: var(--Gris-claro);
    margin: auto;
    width: 90%;
}

footer {
    font-size: 14px;
    background-color: white;
    padding: 25px;
    color: var(--Gris-oscuro);
}

footer article {
    text-align: center;
    padding-bottom: 40px;
}

article i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--Celeste);
    transition: all 0.5s ease;
}

article i:hover{
    color: #0022AA;
    font-size: 3em;
}

.copyright {
    font-weight: 400;
}

@media (min-width: 768px) {
    .barra-superior{
        flex-wrap: nowrap;
    }
    .barra-inferior{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

}

@media (min-width: 1024px) {
    .barra-superior{
        justify-content: space-between;
    }

    .logo-barra-busqueda{
        justify-content: space-between;
    }

    .barra-busqueda{
        padding-left: 80px;
    }

    .barra-inferior li{
        padding: 10px;
    }

}